/* _animations.scss */
@mixin fade-in($duration: 1s, $delay: 0s, $name) {
    animation: #{$name} $duration ease-in-out $delay;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  